@charset "utf-8";

main{
  background: var(--bg-colorlms);
  padding-left: 260px; 
  padding-top: 150px;
}
#main{
  display: flex;
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0px;
}
.a_container1{
  padding-right: 20px;
}
.a_container2{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.a_profile{
  width: 220px; height:500px;
  background: var(--bg-colorwh);
  border-radius: 20px;
  padding: 40px;
}
.p_img{
  background: var(--sub-colorbl);
  width: 140px; height: 140px;
  margin-bottom: 30px;
  border-radius: 50%;
}
.p_img > img{
  display: block;
  padding: 10px;
  width: 100%; height: 100%;
  object-fit: contain;
}
.p_num, .p_name, .p_id{
  padding-bottom: 20px;
  line-height: 30px;
}
.a_profile > button{
  width: 100%; height: 40px;
  background: var(--sub-colorbl);
  color: var(--f-colorwh);
  border-radius: 20px;
  border: none;
}
.a_status, .a_board, .a_callender{
  background: var(--bg-colorwh);
  border-radius: 20px;
  padding: 40px;
}
.a_status{
  width: 580px; height: 350px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.a_status > h3{
  width: 100%;
  color: #666;
}
.a_status > div{
  width: calc(50% - 20px);
  border: 1px solid var(--sub-colorbl);
  border-radius: 20px;
  padding: 20px;
}
.a_status > div > p{
  color: #666;
  height: 50%;
}
.a_status > div > p:last-child{
  text-align: end;
  font-size: var(--f-size20);
  font-weight: bold;
}
.a_status > div > p > span{
  font-size: var(--f-size32);
  color: var(--main-color);
  font-family: var(--fm-title);
}
.a_board{
  width: 580px; height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  gap: 20px;
}
.a_board > h3{
  color: #666;
}
.a_board > table{
  width: 100%; height: calc(100% - 40px);
  text-align: center;
  border-top: 3px solid var(--f-colorlb);
}
.a_board > table > tbody > tr > td{
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
}
.a_board > table >tbody  > tr > td:last-child{
  text-align: center;
}


.a_callender{
  width: 1180px;
  padding: 40px;
}
/* section calendar */

.sec_cal {
  width: 100%;
  margin: 0 auto;
  font-family: var(--fm-main);
}

.sec_cal .cal_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 78px;
}

.sec_cal .cal_nav .year-month {
  width: 300px;
  text-align: center;
  line-height: 1;
}

.sec_cal .cal_nav .nav {
  display: flex;
  border: 1px solid #333333;
  border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
  display: block;
  width: 50px;
  height: 78px;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #000;
  border-width: 3px 3px 0 0;
  transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
  border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
  transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
  transform: rotate(45deg);
}

.sec_cal .cal_wrap {
  padding-top: 40px;
  position: relative;
  margin: 0 auto;
}

.sec_cal .cal_wrap .days {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
  top: 368px;
}

.sec_cal .cal_wrap .day {
  display:flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 7);
  text-align: left;
  color: #999;
  font-size: 12px;
  text-align: center;
  border-radius:5px
}

.current.today {background: rgb(242 242 242);}

.sec_cal .cal_wrap .dates {
  display: flex;
  flex-flow: wrap;
  height: 290px;
}

.sec_cal .cal_wrap .day:nth-child(7n -1) {
  color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
  color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
  color: #ddd;
}
