@charset "utf-8";

@media (max-width:768px) {
  main{
    padding: 0px 20px;
    width: 100%;
    overflow: hidden;
    bottom: #F5F9FF;
    background: #E1EDFF;
  }
  h2{
    text-align: center;
    padding: 120px 0px 20px;
    font-size: 36px;
    color: #715647;
  }
  label{
    width: 100%;
    display: block;
    font-family: var(--fm-title);
    padding-bottom: 10px;
    color: var(--f-colorlb);
  }
  select{
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    padding: 0px 10px;
  }
  .container{
    margin: 0px 0px 60px;
    width: 100%;
    border: 1px solid#ccc;
    padding: 10px 40px;
    border-radius: 20px;
    background: var(--bg-colorwh);
  }
  .con{
    width: 100%;
    margin: 30px 0px;
  }
  .con input, select{
    width: 100%;
    height: 40px;
    border: 1px solid#E1E1E1;
    border-radius: 20px;
    padding: 0px 10px;
  }
  .con input:focus, select:focus{
    outline: none;
  }
  .birth, .phone, .email, .tell, .addr{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .birth > input{
    width: 30%;
  }
  .phone > input{
    width: 30%;
  }
  .tell > input{
    width: 30%;
  }
  .tell > select{
    width: 30%;
  }
  .email > input{
    width: 45%;
  }
  .email > select{
    width: 45%;
  }
  .addr > input:first-of-type{
    width: 45%;
    margin-bottom: 10px;
  }
  .addr > input:nth-of-type(2){
    width: 45%;
    margin-bottom: 10px;
    background: var(--sub-colorbl);
    color:#fff;
    cursor:pointer;
  }
  .addr > input:nth-of-type(3){
    margin-bottom: 10px;
  }
  .submit{
    width: 100%;
    margin: 0px auto;
    text-align: center;
  }
  .job, .interest{
    margin-top: 0px;
  }
  .interest{
    margin-bottom: 50px;
  }
  #edit_frm{
    width: 280px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: var(--f-size16);
    background: var(--sub-colorbl);
    color: var(--f-colorwh);
    font-family: var(--fm-title);
    cursor:pointer;
  }
  #reset{
    width: 280px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: var(--f-size16);
    border: 1px solid#FF4E4E;
    color: #FF4E4E;
    background: var(--bg-colorwh);
    font-family: var(--fm-title);
    cursor:pointer;
    margin-bottom: 20px;
  }
  #id_check_msg{
    line-height: 30px;
  }

}