/* 헤더영역 */

/* 헤더-왼쪽 */
header #header-left{
  width:260px;
  height:100vh;
  min-height: 800px;
  background-color: var(--sub-colorbl);
  position: fixed;
}

header #header-left h1{
  padding:40px 0px;
  text-align:center;
  border-bottom:1px solid rgba(255, 255, 255, 0.2);
}
header #header-left h1 a{
  display:inline-block;
  width:120px;
  height:66px;
  margin:0px auto;
}
header #header-left h1 a img{
  width:100%;
  height:100%;
}
header #header-left .header-menu{
  padding-top:60px;
}
header #header-left .header-menu li{
box-sizing: border-box;
display:block;
}
header #header-left .header-menu li:first-child a{
  background-color:#9DADC7 ;
}
header #header-left .header-menu li a{
  padding:15px 0px 15px 40px;
  display:block;
}
header #header-left .header-menu li a i{
  color: var(--f-colorwh);
}
header #header-left .header-menu li a span{
  font-size: var(--f-size20);
  color:var(--f-colorwh);
  padding-left:20px;
}
header #header-left .header-footer{
  width:100%;
  position:absolute;
  bottom:0;
}
header #header-left .header-footer ul li{
  padding:0px 0px 0px 40px;
  box-sizing: border-box;
  color:var(--f-colorwh);
  font-size: var(--f-size12);
}

header #header-left .header-footer > a{
  background-color:#9DADC7;
  display:flex;
  padding:15px 0px 15px 30px;
  box-sizing: border-box;
}
header #header-left .header-footer > a i{
  color:var(--f-colorwh);
}
header #header-left .header-footer > a span{
  color:var(--f-colorwh);
  font-size:14px;
  padding-left:5px;
  line-height: 18px;
}
header #header-left .header-footer ul li:nth-child(3){
  padding-bottom:40px;
  padding-top:10px;
}
header #header-left .header-footer ul li:nth-child(3) address{
  color:rgba(255, 255, 255, 0.5);
}
header #header-left .header-footer ul li:nth-child(2) p{
  line-height: 20px;
}
header #header-left .header-footer ul li:nth-child(2) p a{
  color:var(--f-colorwh);
}
header #header-left .header-footer ul li:first-child p{
  font-weight: bold;
  font-size: var(--f-size20);
  padding-bottom: 20px;
}

/* 메뉴 호버시 색상변경되게 적용하기 */
.header-hover{
  background-color:#9DADC7; 
}


/* 헤더-오른쪽 */
header #header-right{
  width:calc(100% - 260px);
  min-width: 992px;
  height:150px;
  position:fixed;
  left:260px;
  background-color: rgb(245, 245, 240);
}
header #header-right .header-user{
  display:flex;
  align-items: center;
}

header #header-right .header-user p:first-child {
  font-size:var(--f-size32);
  color:var(--f-colorbr);
  font-family: var(--fm-title);
  padding-left:120px;
  line-height: 150px;
}


header #header-right .header-user p:nth-child(2){
  width:40px;
  height:40px;
  background-color: #9DADC7;
  border-radius:50%;
  margin-left: auto;
}
header #header-right .header-user p:nth-child(2) img{
  width:30px; height:16px;
  margin:12px 5px 12px 5px;

}
header #header-right .header-user p:nth-child(3){
  color: var(--f-colorbr);
  margin-left:20px;
}
header #header-right .header-user>a{
  margin:0px 120px 0px 40px;
  width:100px;
  height:40px;
  border:1px solid #FF4E4E;
  border-radius: 20px;
  text-align:center;
}
header #header-right .header-user>a span{
  line-height: 40px;
  color:#FF4E4E;
}

