@charset "utf-8";

body {
    background:#F5F9FF;
}

#lecreg {
    /* width:calc(100% - 260px); */
    margin-left:260px;
    padding:0 20px;
    background:#F5F9FF;
}

#lecreg .wrap {
    max-width:1420px;
    min-width:1000px;
    width:100%;
    margin:0 auto;
    padding-top:300px;
}
#lecreg .profile{
    width:220px;

}

#lecreg .card {
    padding:40px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px !important;
}

/* 좌측 프로필 */
#lecreg .profile__img {
    background:#8599B9;
    border-radius: 50%;
}

#lecreg .profile__img img {
    width:80%;
    object-fit: contain;
    left:10%;
}

.btn {
    line-height:38px;
    margin-top:10px;
    border-radius: 20px !important;
    padding:0 !important;
    font-weight:200 !important;
}

.btn:first-of-type {
    margin-top:30px;
}

.btn-w-100p {
    width:100%;
}

h4.title {
    font-size:16px;
    margin-top:16px;
    margin-bottom:0;
}

h4.title + p {
    margin-bottom: 0;
}

.btn-line {
    border:1px solid #8599B9 !important;
    color:#8599B9 !important;
}

.btn-fill {
    border:1px solid #8599B9 !important;
    background:#8599B9 !important;
    color:#fff !important;
}
#lecreg .profile .profile__card p:last-of-type{
    padding-bottom:40px;
}
#lecreg .lecreg-detail{
    margin-bottom:20px !important;
}


#lecreg .save_frm{
    width:140px;
    height:40px;
    background:#8599B9;
    border: 1px solid #8599B9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin-bottom:10px;
    color:var(--f-colorwh);
}

#lecreg .delete_all{
    width:140px;
    height:40px;
    border: 1px solid #FF4E4E;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.05));
    border-radius: 20px;
    background: var(--bg-colorwh);
    color:#FF4E4E;
}

#lecreg .lecreg-contents label{
    font-family:var(--fm-title);
    color:#666;
    padding-bottom:10px;
}

#lecreg .lecreg-contents input,#lecreg .lecreg-contents select{
    margin-bottom:40px;
    border: 1px solid #8599B9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

#lecreg .flex{
    display:flex;
    justify-content:space-between;
}

#lecreg .flex input {
    width:240px;
    height:40px;
}
#lecreg .flex i {
    position:absolute;
    top:37px;
    right:0px;
    color:var(--sub-colorbl);
    font-size:18px;
    right:20px;
}
#lecreg #course-image{
    margin-bottom:20px;
}

#lecreg .course_longdesc{
    width:100%;
    height:300px;
    border: 1px solid #8599B9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding:20px;
    box-sizing:border-box;
}

/* 우측 상세내용 */


#lecreg .lecreg-contents{
width:calc(100% - 240px);
}

#lecreg .lecreg-leftbox{
padding-right: 20px;
box-sizing: border-box;
}

#image-preview{
    width:190px;
}

#lecreg .custom-file{
    width:100%;
    height:260px;
    padding:20px 20px;
    box-sizing:border-box;
    margin-bottom:30px;
    border: 1px solid #8599B9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
#lecreg .custom-file label{
    display:block;
}
#lecreg .custom-file input{
    width:100%;
    height:40px;
}
#lecreg .custom-file input[type=file]::file-selector-button {
    width: 100px;
    height: 40px;
    background: #8599B9;
    border-radius: 20px;
    border:none;
    cursor: pointer;
  }
  #lecreg #image-preview{
    margin:0px auto;
    width:156px; height:156px;
    background: #8599B9;
    border-radius: 20px;
    
  }

  #lecreg #image-preview .img-fluid{
    width:100%; height:100%;
    border-radius:20px;
  }
  .writer, .id{
    border:none;
    font-size:16px;
}
 .writer{
    padding-bottom:15px;
}
 .id{
    padding-bottom:30px;
}

#lecreg .source{
    display:flex;
}
#lecreg .source .card{
    width:50%;
    height:592px;
    margin-top:20px;
}
#lecreg .source .paper{
    margin-right:20px;
    margin-bottom:170px;
}
#lecreg .source .list_box{
    width:100%;
    height:425px;
    padding:0px 40px;
    border: 1px solid #8599B9;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.05));
    border-radius: 20px;
    margin-top:10px;
    position:relative;
}
#lecreg .source .t_box{
    display:flex;
    justify-content: space-between;
    height:30px;
    margin-right:30px;
}
#lecreg .source .t_box li label{
    position: absolute;
    top: 38px; right: 90px;
}
#lecreg .source .button_box{
    text-align:right;
}
#lecreg .source .button_box .button{
    background: #8599B9;
    border: 1px solid #8599B9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    width: 128px;
    height: 40px;
    position:relative;
    right:0px;
    margin-top:10px;
    margin-right:10px;
    color:#fff;
}

.content_Box .number span{
    padding-right:10px;
}
.content_Box .number{
    line-height: 32px;
}
.content_Box .number:first-child{
    margin-top:10px;
}
.content_Box .number button{
    position: absolute;
    right: 55px;
    width: 16px;
    height: 16px;
    border: none;
    margin-top: 8px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;  
}
.content_Box .number button .x{
    font-size: 6px;
    position: absolute;
    top: -8px;
    right: -6.5px;
    color: #616165;
}