@charset "utf-8";

body {
    background:#F5F9FF;
}

.board-view {
    /* width:calc(100% - 260px); */
    margin-left:260px;
    padding:0 20px;
    background:#F5F9FF;
}

.wrap {
    max-width:1420px;
    width:100%;
    margin:0 auto;
}

.card {
    padding:40px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px !important;
}

.profile__img {
    background:#8599B9;
    border-radius: 50%;
}

.profile__img img {
    width:80%;
    object-fit: contain;
    left:10%;
}

.btn {
    line-height:38px;
    margin-top:10px;
    border-radius: 20px !important;
    padding:0 !important;
    font-weight:200 !important;
}

.btn:first-of-type {
    margin-top:30px;
}

.btn-w-100p {
    width:100%;
}

h4.title {
    font-size:16px;
    margin-top:16px;
    margin-bottom:0;
}

h4.title + p {
    margin-bottom: 0;
}

.btn-line {
    border:1px solid #8599B9 !important;
    color:#8599B9 !important;
}

.btn-fill {
    border:1px solid #8599B9 !important;
    background:#8599B9 !important;
    color:#fff !important;
}