@charset "utf-8";

/* 헤더 */
@media (max-width:768px) {
  header{
    background: var(--sub-colorbl);
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
  }
  .mnu_bar{
    cursor: pointer;
  }
  .mnu_bar > span{
    background: #fff;
    height: 2px;
    display: block;
    margin-bottom: 8px;
    border-radius: 50px;
  }
  .mnu_bar > span:first-child{
    width: 28px;
  }
  .mnu_bar > span:nth-child(2){
    width: 36px;
  }
  .mnu_bar > span:last-child{
    width: 18px;
  }
  header > ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header > ul > li{
    margin-top: 14px;
    text-align: center;
  }
  header > ul > li:first-child{
    width: 20%;
    padding-left: 28px;
  }
  header > ul > li:nth-child(2){
    width: 60%;
  }
  header > ul > li:last-child{
    width: 20%;
  }
  header > ul > li:nth-child(2) > a img{
    width: 86px;
  }
  header > ul > li:last-child > img{
    width: 40px;
    cursor: pointer;
  }
  header > ul > li:last-child > a{
    display: block;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }

  /* gnb서식 */
  .left_box{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: -100%;
    background: #fff;
  }
  .left_box::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50%;
    height: calc(100% - 80px);
    background: var(--sub-colorbl);
  }
  .gnb_hd{
    position: relative;
    width: 100%;
    height: 80px;
    background: var(--sub-colorbl);
  }
  .gnb_hd > button, .gnb_hd > .close_btn > span{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
  }
  .gnb_hd > a > button.log_btn{
    display: block;
    width: 120px;
    height: 40px;
    background: none;
    color: #fff;
    border-radius: 50px;
    border: 1px solid #fff;
    position: absolute;
    top: 22px;
    left: 17px;
  }
  .gnb_hd > a > button.out_btn{
    display: block;
    width: 120px;
    height: 40px;
    background: #FF4E4E;
    color: #fff;
    border-radius: 50px;
    border: none;
    left: 17px;
    position: absolute;
    top: 22px;
    left: 17px;
  }
  .gnb{
    position: relative;
    padding: 24px 0px 0px 17px;
    font-family: "yg-jalnan";
    z-index: 1;
  }
  .gnb > .cat_box{
    position: absolute;
    top: 36px;
    left: 44%;
    overflow: hidden;
    width: 50px;
    height: 30px;
  }
  
  .gnb > .cat_box > img{
    width: 50px;
    position: absolute;
    left: -60px;
  }
  .gnb_hd > .close_btn{
    cursor: pointer;
  }
  .gnb_hd > .close_btn > span{
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 20px;
    background: #fff;
    right: 17px;
  }
  .gnb_hd > .close_btn > span:first-child{
    transform: rotate(45deg);
  }
  .gnb_hd > .close_btn > span:last-child{
    transform: rotate(-45deg);
  }
  .gnb_hd > ul{
    display: inline-block;
    position: relative;
  }
  .gnb_hd > ul > .mnu_bar{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 28px;
  }

  /* 선택된 li > a 서식 클래스 */
  .act01{
    color: var(--sub-colorbr) !important;
  }
  .gnb > li > a{
    font-size: 20px;
    color: #fff;
    line-height: 52px;
  }
  .lnb{
    display: none;
    padding: 24px 0px 0px 35px;
    position: absolute;
    top: 0px;
    left: 50%;
  }
  .lnb > li{
    line-height: 52px;
  }
  .lnb > li > a{
    font-size: 16px;
    color: #666;
  }

  /* user메뉴 서식 */
  .right_box{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: -100%;
    background: var(--sub-colorbl);
    padding: 0px 17px;
  }
  .user_info{
    width: 100%;
    height: 176px;
    background: #fff;
    margin: 0px auto;
    margin-bottom: 25px;
    border-radius: 20px;
    position: relative;
  }
  .user_info > p > a{
    color: #FF4E4E;
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .flex_box{
    display: flex;
    padding: 20px 0px 0px 20px;
    align-items: center;
    height: 125px;
    border-bottom: 1px solid #E1E1E1;
  }
  header .img_box{
    width: 80px;
    height: 80px;
    background: var(--sub-colorbl);
    border-radius: 50px;
    position: relative;
    z-index: 1;
  }
  header .img_box > img{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header .txt_box{
    padding-left: 20px;
  }
  
  header .txt_box > p{
    font-weight: 500;
  }
  header .txt_box > p:first-child{
    padding-bottom: 6px;
  }
  header .txt_box > p > span{
    font-size: 24px;
    font-weight: 700;
  }
  .myPage{
    display: flex;
    justify-content: space-around;
  }
  .myPage > p{
    width: 185px;
    line-height: 50px;
    text-align: center;
    font-weight: 400;
  }
  .myPage > p:first-child{
    border-right: 1px solid #E1E1E1;
  }
  .myPage > p > a{
    color: #333;
  }
  .myPage > p > a:visited{
    color: #333;
  }
  .myPage > p > a:active{
    color: #333;
  }
  header .lecture_box{
    display: block;
    margin: 0px auto;
    width: 100%;
    height: 80px;
    background: #fff;
    border-radius: 20px;
    margin-bottom: 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  header .lecture_box > div{
    width: 52px;
    height: 52px;
    background: var(--sub-colorbl);
    border-radius: 50px;
    position: relative;
  }
  header .lecture_box > div > img{
    width: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header .lecture_box > p{
    width: 150px;
    text-align: left;
    color: var(--f-colorbr);
    font-family: "yg-jalnan";
  }
  header .lecture_box > span{
    width: 30px;
  }

  /* 푸터 */
  footer{
    background: var(--sub-colorbl);
    width: 100%;
    height: 321px;
    text-align: center;
    font-size: 12px;
    color: #fff;
  }
  footer > nav{
    padding-bottom: 15px;
  }
  footer > nav > a img{
    width: 122px;
    padding: 60px 0px 20px 0px;
  }
  footer > nav > ul > li{
    font-weight: 300 !important;
    line-height: 18px;
  }
  footer > address{
    line-height: 20px;
  }
}