@charset "utf-8";

#admin #header-left {
    background: #000;;
}

#teacher #header-left {
    background: #fff;;
}



body {
    background:#F5F9FF;
}

main {
    padding-top:230px;
    padding-bottom: 80px;
}

.board-view {
    /* width:calc(100% - 260px); */
    /* margin-left:260px; */
    padding:0 20px 0 260px;
    background:#F5F9FF;
}

.wrap {
    max-width:1420px;
    width:100%;
    margin:0 auto;
}

.profile {
    width:220px;
}

.contents {
    width:calc(100% - 240px);
}

.card {
    padding:40px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px !important;
}

.profile__img {
    background:#8599B9;
    border-radius: 50%;
}

.profile__img img {
    width:80%;
    object-fit: contain;
    left:10%;
}

.btn {
    line-height:38px;
    margin-top:10px;
    border-radius: 20px !important;
    padding:0 !important;
    font-weight:200 !important;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
}

.btn:first-of-type {
    margin-top:30px;
}

.btn-w-100p {
    width:100%;
}

.btn-w-100 {
    width:100px;
}

.btn-w-128 {
    width:128px;
}

h4.title {
    font-size:16px;
    margin-top:16px;
    margin-bottom:0;
}

h4.title + p {
    margin-bottom: 0;
}

.btn-line {
    border:1px solid #8599B9 !important;
    color:#8599B9 !important;
}

.btn-fill {
    border:1px solid #8599B9 !important;
    background:#8599B9 !important;
    color:#fff !important;
}

h4.title + select,
h4.title + input,
.textarea_wrap {
    margin:10px 0 24px;
    padding:0 20px;
    line-height:38px;
    border-radius: 20px;
    border:1px solid #8599B9;
    outline-color:#8599B9;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
}

textarea {
    width:100%;
    line-height:38px;
    border: 0;
    outline: 0;
}

.textarea_wrap.disabled {
    background:#efefef4d;
}

.textarea_wrap.disabled textarea {
    background: none;
} 

select{
    -webkit-appearance:none; /*for chrome*/
    -moz-appearance:none; /*for firefox*/
    appearance: none;
    outline: none;
}

select::-ms-expand{
    display:none;
}

h4.title + select {
    width:240px;
    height:40px;
}

h4.title + select option {
    outline:none;
}

h4.title .font-normal {
    font-family:pretendard;
    font-size:14px;
    margin-left:6px;
    font-weight:normal;
}

.textarea_wrap {
    padding:20px;
}

.board-btn .btn {
    margin-top:0;
    margin-left:10px;
}

.board-btn .btn:first-child {
    margin-left:0;
}